<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script>
      $(document).ready(function(){

      })
    </script>
  </head>
  <body>
      <p>"hello there, I'm a hufflepuff.  I am a fan of most nerd genres and I probably dont know as much information about any of those genres as others would claim to know.  I can just tell you I like their worlds.</p>
  </body>
</html>